<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>

  
    {% load static %}
    <a href="/"><img src="{% static 'recipes/media/nav.jpg' %}" alt="home" /></a>
    

    <form action="/" method="post">
      {% csrf_token %} 
      {{form}}
      <label for="ingredients">Ingredients (space separated): </label>
      <input id="ingredients" type="text" name="ingredients">
      <input type="submit" value="OK">
    </form>

    <h1>{{recipe.name}}</h1>
    <img src="{{recipe.img}}"> 

    <h2>Description</h2> 
    <p>{{recipe.description}}</p>

    <h2>Ingredients</h2>
    {% for str in recipe.ingredients_raw_str %}
    <li> {{str}} </li>
    {% endfor %}

    <h2>Steps</h2>
    {% for step in recipe.steps %}
    <li> {{step}} </li>
    {% endfor %}

	<!-- <script src="index.js"></script> -->
  </body>
</html>